body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #e8f0fe;
}

h1 {
    color: #2d3436;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

p {
    color: #636e72;
    text-align: center;
}

input[type="file"] {
    margin: 20px auto;
}

button {
    padding: 12px 24px;
    background-color: #55efc4;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #00cec9;
}

#progressBar {
    height: 30px;
}

#progressText {
    text-align: center;
    color: #2d3436;
    font-weight: bold;
}

#output, #chatgpt-output {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dfe6e9;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dfe6e9;
    padding: 12px;
}

th {
    background-color: #55efc4;
    color: white;
    font-weight: bold;
}

td {
    text-align: center;
}
